$white: #fff;
$light: #eee;
$taskish: #ccc;
$gray: #777;
$dark: #374151;
$darker: #1f2937;
$darker1: #1d2530;
$darkest: #111827;

$pink: #ec4899;
$purple: #8b5cf6;
$delete: crimson;

$business: #47a3d8;
$personal: #2c6415;
$greenish: #6bbd97;

$fontSize: 1rem;
$fontSizeMiddle: 1.2rem;
$FontSizeBig: 2rem;

$transit1: .2s ease;
$transit2: .4s;

$fontFamily1: 'Montserrat', sans-serif;
$fontFamily2: 'Merriweather', serif;
$fontFamily3: 'Roboto Mono', monospace;
$fontFamily4: 'Poppins', sans-serif;
$fontFamily5: 'Fira Sans', sans-serif;

$shadow1: 0 1px 3px rgba(0, 0, 0, 0.1);
$shadow2: 0 1px 2px $darker1;
$shadow3: 0 1px 2px $darker;
$businessGlow: 0px 0px 4px $business;
$personalGlow: 0px 0px 4px $personal;